<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <nav>
        <div class="logo">
            <h2><a href="/">Gall.io</a></h2>
        </div>
        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/gallery">Gallery</a></li>
            </ul>
        </div>
    </nav>

    <!-- Routing -->
    <router-outlet></router-outlet>

</body>

</html>